/* Write your code here. */
.small-box {
  background-color: #fbbf24;
  margin: 10px;
  height: 75px;
  width: 75px;
}
.medium-box {
  background-color: #38bdf8;
  margin: 10px;
  height: 250px;
  width: 250px;
}
.large-box {
  background-color: #ec4899;
  margin: 10px;
  height: 400px;
  width: 400px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  color: white;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
}
